.slide-x-enter-active,
.slide-x-leave-active {
  transition: transform .2s cubic-bezier(0.25, 0.8, 0.5, 1), opacity .3s;
  opacity: 1;
}

.slide-x-enter-from,
.slide-x-leave-to {
  opacity: 0;
}

.slide-x-enter-from {
  transform: translateX(100px);
}

.slide-x-leave-to {
  transform: translateX(-100px);
}
